//- List generator item_active
mixin ul(className, items, activeElem, onlyList)
	if(onlyList)
		ul(class= className + '__list')
			each item, index in items
				li(class= className + "__item" + ((activeElem === index) ? ' ' + className + '__item_active' : ''))
					a(href="#" class= className + "__link")= item
	else
		nav(class= className)
			ul(class= className + '__list')
				each item, index in items
					li(class= className + "__item")
						a(href="#" title='#{item}' class= className + "__link" + ((activeElem === index) ? ' ' + className + '__link_active' : ''))= item
