//- SEO
meta(name="description" content="")
meta(name="keywords" content="")
meta(name="author" content="")
//- favicon
//- link(rel="shortcut icon" href="img/favicon/favicon.ico" type="image/x-icon")
//- link(rel="icon" href="img/favicon/favicon.ico" type="image/x-icon")

//- Main CSS
// build:css css/main.min.css 
link(rel="stylesheet" href="css/main.css")
// endbuild 

//- Bower JS
// build:js js/_vendors.min.js
// bower:js 
script(src="bower/modernizer/modernizr.js")
// endbower 
// endbuild
//- <!--[if lt IE 9]>
//- script(src="https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js")
//- <![endif]-->