.popup#success
	.popup__overlay
	.popup__content
		.popup__content-inner 
			| Спасибо за вашу заявку! Мы обязательно свяжемся с вами.
		a(href="#").popup__close x
.popup#error
	.popup__overlay
	.popup__content
		.popup__content-inner 
			| Что то пошло не так, повторите позже.
		a(href="#").popup__close x			
				