.footer {
	background: url(../img/bg/footer_bg.png) center center;
	position: relative;

	.container {
		@include clearfix;	
	}
}

.footer__top {
	padding-top: 35px;
}
.footer__left {
	width: 45%;
	float:left;
	padding-top: 35px;
}

.footer__right {
	width: 55%;
	float:left;
}

.footer__right-wrap {
	float:right;
	@include clearfix();
}

.socials_footer {
	margin-bottom: 29px;

		.socials__item {
			margin-left: 26px;

			&:first-child {
			margin-left: 0;
		}
	}	
}
// $footer-socials: sprite-map('icons/socials_footer/*.png', $spacing: 70px);

// @each $item in $socials {
// 	.socials_footer {
// 		.socials__item_#{$item} {
// 			.socials__link {
// 				@include get-sprite($footer-socials, $item);
			
// 				&:hover {
// 					$item_hover: $item + '_hover';
// 					@include get-sprite($footer-socials, $item_hover);

// 				}
// 			}	
// 		}
// 	}
// }

.footer-nav__list {
	float:right;
	text-align:right;
}
.footer-nav__item {
	@include inlineblock();
	margin-left: 30px;
	margin-bottom: 21px;
}

.footer-nav__link {
	line-height:$font-size_main + 2px;
	color: $main_white;
	text-decoration: none;
	border-bottom: 1px solid $main_white;
		&:hover {
			border: none;
		}
}
.footer__bottom {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	border-top:1px solid #494949;
	text-align:center;
}

.footer__copyright {
	color:$main_white;
	font-size: $font-size_main - 2px;
	padding: 8px 0;
}