// Colors
$bg: #fff;
$white: #fff;
$grey: #333;
$border: #ebedef;
$bg-input: #fbfbfb;
$orange: #ff6600;
$border-grey: #dee1e4;

// Setting
$container-width: 1100px;
$footer-height: 220px;
$socials: vk, tw, fb;

// Fonts
$base-font-size: 16px;
$font-main: 'OpensansReqular', sans-serif;
$font-semibold: 'OpensansSemibold';
$font-bold: 'OpensansBold';

//Paths
$views: 'column', 'grid', 'list';
$path-images: '../img';
$path-fonts: '../fonts/';